<!-- Load Blockly core -->
<script src="/blockly/blockly_compressed.js"></script>
<!-- Load the default blocks -->
<script src="/blockly/blocks_compressed.js"></script>
<!-- Load a generator -->
<script src="/blockly/javascript_compressed.js"></script>
<!-- Load a message file -->
<script src="/blockly/en.js"></script>
<script src="/blockly/python_compressed.js"></script>

<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ScriptBlocks</title>
<link rel="stylesheet" href="/styles.css">
<script src="/scripts.js" defer></script>

<script src="/highlight/highlight.min.js"></script>
<script src="/highlight/python.min.js"></script>