<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScriptBlocks</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/scripts.js" defer></script>
</head>
<body>
    <%- include("partials/ribbon.ejs") %>

    <main>
        <h1>hey!</h1>
        <h2>what are you looking at?</h2>
        <h3>you know this ide isn't ready yet</h3>
    </main>
</body>
</html>