<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockly Example</title>
    <script src="/node_modules/blockly/blockly.min.js"></script>
    <style>
        #blocklyDiv {
            height: 600px;
            width: 100%;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h3>well.. well.. well.....</h3>
</body>
</html>
